<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout4</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <!-- 左右结构 -->
    <div class="layout">
        <!-- 左 -->
        <div class="sider">sider</div>
        <!-- 右 -->
        <div class="main">
            <div class="header">header</div>
            <div class="content">content</div>
            <div class="footer">footer</div>
        </div>
    </div>
</body>
</html>